.main-header {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header nav {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: right;
}

.main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header li {
  padding: 0;
  margin: 0 2rem;
}

.main-header a {
  text-decoration: none;
  color: #030303;
  font-weight: bold;
}

.main-header a:hover,
.main-header a:active,
.main-header a.active {
  color: #030303;
  text-decoration-line: underline;
}

.main-header .product-item-img {
  width: 100px;
  height: 100px;
  margin-top: 0px;
  padding: auto;
}
